<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coletor de Dados</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center mt-5">Obrigado</h2>
        <p class="text-center">por parcicipar de nossa pesquisa.</p>
        <p class="text-center">Sua altura foi registrada com sucesso.Em breve você recebrá um email com a média de altura populacional</p>
        <p class="text-center">Clique <a href={{url_for('index')}}>aqui</a> para voltar a página inicial.</p>
    </div>
</body>